.navbar-brand{
	font-size: 1.3em;
	letter-spacing:0.7px;
	font-family: 'Ink Free', sans-serif;

}
.navbar-nav li:hover{
	background-color: #FFAEB9;
	border-radius: 30px;
}
.navbar-collapse li{
	margin-left: 20px;
}
.item-dangky{
	border-radius: 30px;	
	border: 1px solid #ccc;
	padding: 0 8px;
}
